$pseudoblack: #111111;
$blue: #1446A0;
$lightblue: #C0E8F9;
$skyblue: #7cc6fe; /* #9CF6F6;*/
$pearlwhite: #eeeeee;
$gray: #424B54;

html {
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif;
  background-color: $gray;
  color: $pearlwhite;
  -webkit-font-smoothing: antialiased; /* Makes text more clear, crisp and defined on all browsers */
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $skyblue;
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  line-height: 1.2;
}

.card {
  background-color: $pseudoblack;
  flex: 1 1 50%;
  position: relative;
  border: 1px solid $pearlwhite;
  & h1 {
    margin: 0;
  }
  & p {
    margin: 0 0 30px;
  }
}

.card-content {
  padding: 30px 30px 110px;
}

.card-details {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.card-details-inner {
  border-top: 1px solid $pearlwhite;
  margin: 0 30px;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtitle {
  margin: 0 0 15px;
  font-weight: 700;
  color: $skyblue;
}

.button {
  display: block;
  font-size: 1rem;
  background: $skyblue;
  border: 1px solid $skyblue;
  padding: 0.75rem 1rem;
  color: $pseudoblack;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  &:hover, :focus {
    background: darken($skyblue, 5%);
    border: 1px solid darken($skyblue, 5%);
  }
}