$pseudoblack: #222222;
$pseudowhite: #fafafa;
$lightblue: #e3f2fd;
$skyblue: #C0E8F9;
$pearlwhite: #FFFFF0;

html {
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
  line-height: 1.2;
}

.card {
  flex: 1 1 50%;
  position: relative;
  border: 1px solid #efefef;
  & h1 {
    margin: 0;
  }
  & p {
    margin: 0 0 30px;
  }
}

.card-content {
  padding: 30px 30px 110px;
}

.card-details {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.card-details-inner {
  border-top: 1px solid #efefef;
  margin: 0 30px;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtitle {
  margin: 0 0 15px;
}